data/all_data/*
data/draupnir_data/*
data/test/*
data/test/**
data/training*
data/test*
data/valid*

**/.ipynb_checkpoints
**/__pycache__
**/*csv
**/*fasta
**/*pkl
**/*txt
!helpful_notes.txt

VAE_EVE_frazer/model_checkpoints/*
VAE_EVE_frazer/results/*

VAE_moreta/.format6newick
VAE_moreta/.format8newick
VAE_moreta/.format7newick
VAE_moreta/.newick
VAE_moreta/results/
VAE_moreta/PLOTS*

VAE_standard/model_saves/*
VAE_standard/results/*
VAE_standard/bedford_code/results_bedford/*

VAE_ding/output/
