data/*
data/**

**/.ipynb_checkpoints
**/__pycache__

VAE_EVE_frazer/model_checkpoints/*
VAE_EVE_frazer/results/*

VAE_moreta/.format6newick
VAE_moreta/.format8newick
VAE_moreta/.format7newick
VAE_moreta/.newick
VAE_moreta/results/
VAE_moreta/PLOTS*

VAE_standard/model_saves/*
VAE_standard/results/*

VAE_ding/output/
